#top{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    border: 0;
}
#bot{
    width: 20%;
    border-radius: 100%;
    border: 10px solid rgb(61, 61, 61);
    margin: 25px ;
    text-align: center;
}
#here{
    display: inline;
    background-color: rgb(104, 104, 104);
}
body{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    border: 0;
}